.main {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: black;
}
.item {
  font-weight: 400;
  cursor: pointer;
  font-size: 24px;
}

.title{
  // margin-top: 200px;
  font-size: 70px;
  font-weight: 800;
  color: black !important;
}

.inner {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
